<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant App</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to Content</a>

    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Restaurant App</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/Home">Home</a></li>
          <li><a href="#/Favorite">Favorite</a></li>
          <li>
            <a
              target="_blank"
              href="https://www.instagram.com/freedom.tradeitgg/?hl=id"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!-- Jumbotran -->
    <div class="hero">
      <div class="hero-element">
        <h1 class="hero-element__title">Restaurant App</h1>
        <p class="hero-element__subtitle">
          Cari Restaurant terbaikmu pada aplikasi Restaurant App
        </p>
      </div>
    </div>

    <!-- Content -->
    <main id="mainContent"></main>

    <!-- Footer -->
    <footer>
      <p>Copyright &copy; 2022 - Restaurant App</p>
    </footer>
  </body>
</html>
